body.white{
  background-color: white;
  color: black;
}
body.black{
  background-color: black;
  color: white;
}
.container{
  padding-top: 20px;
}
#control{
  margin-bottom: 40px;
}
#login{
  width: 300px;
  margin: auto;
}
#register{
  width: 300px;
  margin: auto;
}
table.type09 {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
}
table.type09 thead th {
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #369;
  border-bottom: 3px solid #036;
}
table.type09 td {
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}
#table{
  width: 130px;
}
table.type11 {
  border-collapse: separate;
  border-spacing: 1px;
  text-align: center;
  line-height: 1.5;
  margin: 20px 10px;
}
table.type11 th {
  width: 300px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #fff;
  background: #ce4869 ;
}
table.type11 td {
  width: 300px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  background: #eee;
}
#title{
  margin-right: 1040px;
}
